{% extends "base.html" %}

{% block content %}
	<script>
		document.title = "{{query}}";
	</script>
	<style type="text/css">
		.imageContainer {
			float: left;
			margin: 10px;
			box-shadow: 0px 0px 10px 3px;
		}
	</style>
	<br>
	<br>
	<form method="get" action="/search">
		<div>
	    	<input id="searchfield" placeholder="Search Images" type="text" name="q" autofocus autocomplete="off" class="form-control input-lg" onfocus="this.value='{{query}}';" style="width: 90%; border: 1px solid #71717152">
	  	</div>
	</form>
	<h1><b style="color: black">{{query}}</b></h1> ({{time_taken}} seconds)
	{% if view_page %}
		<hr class="solid">
		0 Results
		<hr class="solid">
		<br>
		<br>
		<br>
		<hr class="solid">
		<b>Related Images</b>
		<hr class="solid">
	{% else %}
		<br>
		<hr class="solid">
		<b>Similar Images</b>
		<br>
		<br>
	{% endif %}
	
	{% for doc in resp %}
		{% with hitobj=doc %}
			{% include "tile.html" %}
		{% endwith %}
		<br>
	{% endfor %}
{% endblock %}