{% extends "base.html" %}

{% block content %}
	<script>
		document.title = "{{query}}";
	</script>
	<style type="text/css">
		.imageContainer {
			float: left;
			margin: 10px;
			box-shadow: 0px 0px 10px 3px;
		}
	</style>
	<br>
	<form method="get" action="/search">
		<div>
	    	<input id="searchfield" placeholder="Describe the Image" type="text" name="q" autofocus autocomplete="off" class="form-control input-lg" onfocus="this.value='{{query}}'; this.onfocus=null;" style="width: 90%; border: 1px solid #71717152">
	  	</div>
	</form>
	<h1><b style="color: black">{{query}}</b></h1> ({{time_taken}} seconds)
	<hr class="solid">
	
	{% for doc in resp %}
		{% with hitobj=doc %}
			{% include "tile.html" %}
		{% endwith %}
	{% endfor %}
{% endblock %}